@model Enclosure

@{
    ViewData["Title"] = "Create";
}



<div class="container-md">

    <h2>New Enclosure</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">

        <label asp-for="PricePerSeat"></label>
        <input asp-for="PricePerSeat" class="form-control" />
            <span asp-validation-for="PricePerSeat" class="text-danger"></span>
    </div>


        <div class="mb-3">

            <label asp-for="Capacity"></label>
            <input asp-for="Capacity" class="form-control" />
        </div>
        <div class="mb-3">

            <label asp-for="StadiumId"></label>
            <select asp-for="StadiumId" class="form-control" asp-items="ViewBag.StadiumId"></select>
          @*  <input asp-for="StadiumId" class="form-control" />*@
        </div>
        <div class="mb-3">

           <button type="submit" class="btn btn-primary">Submit</button>
           <a asp-controller="Enclosure" asp-action="Index" class="btn btn-secondary" >Back To List</a>
        </div>
</form>

</div>
