@model Enclosure





<div class="container-md">

    <h2>Edit Enclosure</h2>
<form method="post" asp-action="Edit" >
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" hidden />
    <div class="mb-3">
        
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">

        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>


        <div class="mb-3">

            <label asp-for="PricePerSeat"></label>
            <input asp-for="PricePerSeat" class="form-control" />
        </div>
        <div class="mb-3">

            <label asp-for="StadiumId">Stadium</label>
            <select class="form-control" asp-for="StadiumId" asp-items="ViewBag.StadiumId"></select>

         
        </div>
        <div class="mb-3">

           <button type="submit" class="btn btn-primary">Update</button>
           <a asp-controller="Enclosure" asp-action="Index" class="btn btn-secondary" >Back To List</a>
        </div>
</form>

</div>
