@model Ticket

@{
    ViewData["Title"] = "Create";
}



<div class="container-md">

    <h2>Delete Ticket</h2>
    <form method="post" asp-action="Delete">

        <div class="mb-3">
            <input hidden asp-for="Id" />
            <label asp-for="MatchId"></label>
            <select asp-for="MatchId" asp-items="ViewBag.MatchId" class="form-control" disabled></select>
           

        </div>
        <div class="mb-3">

            <label asp-for="SeatId"></label>
            <select asp-for="SeatId" class="form-control" disabled asp-items="ViewBag.SeatId"></select>

        </div>


      
        <div class="mb-3">

            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-controller="Enclosure" asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>
    </form>

</div>
