@model Stadium

@{
    ViewData["Title"] = "Create";
}



<div class="container-md">

    <h2>Delete Stadium</h2>
<form method="post" asp-action="Delete" >
   
    <div class="mb-3">
        <input hidden asp-for="Id" />
    <label asp-for="Std_Name"></label>
    <input asp-for="Std_Name" disabled class="form-control"/>
  
    </div>
    <div class="mb-3">

        <label asp-for="Std_Capacity"></label>
            <input asp-for="Std_Capacity" disabled class="form-control" />
            
    </div>


        <div class="mb-3">

            <label asp-for="Std_CityName"></label>
            <input asp-for="Std_CityName" disabled class="form-control" />
        </div>
        <div class="mb-3">

           <button type="submit" class="btn btn-primary">Delete</button>
           <a asp-controller="Stadium" asp-action="Index" class="btn btn-secondary" >Back To List</a>
        </div>
</form>

</div>
