@model Match





<div class="container-md">

    <h2>Edit Match</h2>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" hidden />
        <div class="mb-3">

            <label asp-for="MatchName"></label>
            <input asp-for="MatchName" class="form-control" />
            <span asp-validation-for="MatchName" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <label asp-for="MatchTime"></label>
            <input asp-for="MatchTime" class="form-control" />
            <span asp-validation-for="MatchTime" class="text-danger"></span>
        </div>


        <div class="mb-3">

            <label asp-for="StadiumId"></label>
            <select class="form-control" asp-for="StadiumId" asp-items="ViewBag.StadiumId"></select>

        
        </div>
        <div class="mb-3">

            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="Match" asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>
    </form>

</div>
